<h1>Burgers Bucket List</h1>

<h2>What to add to the menu</h2>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devour=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Been there, ate that</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devour=false}}
    {{/if}}
    {{/each}}
</ul>

<p>Enter the name of a burger that you want to eat and click the "Submit" button.</p>

<form class="create-form">
    <div class="form-group">
        <label for="burger">Name of burger</label>
        <input type="text" id="burger" name="burger">
    </div>

    <button type="submit">Submit</button>
</form>

