<h1>Eat-Da-Burger!</h1>

<h2>Burgers of Interest</h2>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devour=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Eaten Burgers</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devour=false}}
    {{/if}}
    {{/each}}
</ul>

<form class="create-form">

    <div class="form-group">
        <label for="burger">Enter the name of the burger</label>
        <input type="text" id="burger" name="burger">
    </div>

    <button type="submit">Submit</button>
</form>

<p>Eat a burger that you want to eat and click the "Submit" button.</p>